@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "../css/home.min.css";
* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.padding-top {
  padding-top: 105px;
}

.container {
  max-width: 1150px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

ul {
  list-style-type: none;
}

.nav {
  position: fixed;
  max-width: 1150px;
  width: 100%;
  height: 90px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
}
.nav__logo {
  display: flex;
  align-items: center;
  gap: 16px;
  color: #173A56;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
}
.nav ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav ul a {
  text-decoration: none;
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.nav ul a :hover {
  font-size: 25px;
  font-weight: 600;
}
.nav ul .register {
  border-radius: 4px;
  padding: 10px 22px;
  font-size: 16px;
  font-weight: 600;
}
.nav ul .sign-in {
  background-color: transparent;
  color: #173A56;
  border: 1px solid #BCD0E5;
}
.nav ul .sign-up {
  color: #fff;
  background: #02897A;
  border: 1px solid #02897A;
}

.home__padding--top {
  padding-top: 123px;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 33px;
}
.home__left {
  display: grid;
  grid-template-rows: repeat(3, auto);
  gap: 18px;
}
.home__left h1 {
  color: #22343D;
  font-size: 40px;
  font-weight: 900;
  line-height: 60px;
}
.home__left p {
  color: #22343D;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}
.home__left a {
  padding: 15px 40px;
  border-radius: 4px;
}
@media (max-width: 500px) {
  .home__left a {
    padding: 15px 20px;
  }
}
.home__left--getstarted {
  background-color: #02897A;
  text-decoration: none;
  color: #fff;
}
.home__left--watchvidio {
  color: #02897A;
  font-size: 16px;
  font-weight: 600;
  text-decoration-line: underline;
}
.home__left--watchvidio img {
  padding-right: 8.5px;
}
@media (max-width: 1000px) {
  .home {
    grid-template-columns: 1fr;
  }
}

#bgc-liner {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  background-image: url(../img/specifically/Bg.svg);
  padding-bottom: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.specifically {
  margin-top: 100px;
}
.specifically h2 {
  text-align: center;
  margin-bottom: 32px;
  padding: 15px;
  max-width: 539px;
  width: 100%;
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
}
.specifically___box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 46px;
}
.specifically___box--card div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-bottom: 30px;
  background-color: #02897A;
}
.specifically___box--card .design {
  background-color: #4D8DFF;
}
.specifically___box--card .preference {
  background-color: #740A76;
}
.specifically___box--card .person {
  background-color: #F03E3D;
}
.specifically___box--card h3 {
  color: #22343D;
  font-size: 22px;
  font-weight: 600;
}
.specifically___box--card p {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 1000px) {
  .specifically___box {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 630px) {
  .specifically___box {
    grid-template-columns: 1fr;
  }
}
.specifically button {
  margin-top: 34px;
  padding: 15px 33px;
  border-radius: 4px;
  background-color: #02897A;
  border: 1px solid #02897A;
  color: #fff;
}

.managment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 84px;
}
.managment__left h4 {
  color: #22343D;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
.managment__left h2 {
  padding: 8px 0 11px;
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
}
.managment__left p {
  padding: 12px 0;
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.managment__reight img {
  width: 100%;
}
@media (max-width: 1000px) {
  .managment {
    grid-template-columns: 1fr;
  }
}

.customer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 94px;
}
.customer__left img {
  width: 100%;
}
@media (max-width: 1000px) {
  .customer__left {
    padding-top: 80px;
  }
}
.customer__reight h4 {
  color: #22343D;
  font-size: 16px;
  font-weight: 600;
}
.customer__reight h2 {
  padding: 8px 0 23px;
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
}
.customer__reight div {
  padding-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.customer__reight div P {
  max-width: 365px;
}
@media (max-width: 1000px) {
  .customer {
    grid-template-columns: 1fr;
  }
}

.customer__reight--text {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.chat__box--shadow {
  padding: 15px 25px;
  border-radius: 26.5px;
  background: #FFF;
  box-shadow: 0px 2px 15px 0px rgba(23, 58, 86, 0.1);
}

.process {
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
  background-image: url(../img/process/Bg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}
.process center h2 {
  color: #22343D;
  font-size: 32px;
  font-weight: 700;
}
.process center p {
  max-width: 542px;
  color: #22343D;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.process__chat {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
}
.process__chat .chat__card--1 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.process__chat .chat__card--1 div .radial__1 {
  margin: -10px 32px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50%;
}
.process__chat .chat__card--1 div .radial__2 {
  margin: 10px 21px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
}
@media (max-width: 850px) {
  .process__chat .chat__card--1 {
    justify-content: center;
  }
}
.process__chat .chat__card--2 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.process__chat .chat__card--2 img {
  margin: 0px -150px;
}
.process__chat .chat__card--2 div p {
  width: 275px;
}
.process__chat .chat__card--2 div .radial__1 {
  margin: -6px 191px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50%;
}
.process__chat .chat__card--2 div .radial__2 {
  margin: 3px 210px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
}
@media (max-width: 850px) {
  .process__chat .chat__card--2 {
    justify-content: center;
  }
}
.process__chat .chat__card--3 {
  display: flex;
  gap: 16px;
  align-items: center;
}
.process__chat .chat__card--3 .radial__1 {
  margin: -9px 32px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50%;
}
.process__chat .chat__card--3 .radial__2 {
  margin: 8px 20px;
  width: 9px;
  height: 9px;
  background: #fff;
  border-radius: 50%;
}
@media (max-width: 850px) {
  .process__chat .chat__card--3 {
    justify-content: center;
  }
}
.process__chat .chat__card--4 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.process__chat .chat__card--4 img {
  margin: 0px -150px;
}
.process__chat .chat__card--4 div p {
  width: 275px;
}
.process__chat .chat__card--4 div .radial__1 {
  margin: -6px 191px;
  width: 17px;
  height: 17px;
  background: #fff;
  border-radius: 50%;
}
.process__chat .chat__card--4 div .radial__2 {
  margin: 3px 210px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
}
@media (max-width: 850px) {
  .process__chat .chat__card--4 {
    justify-content: center;
  }
}
@media (max-width: 850px) {
  .process__chat {
    display: block;
    margin-top: 50px;
  }
}
.process center button {
  margin-top: 48px;
  padding: 15px 30px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid #02897A;
  color: #fff;
  background: #02897A;
}

.contents h2 {
  color: #22343D;
  font-size: 34px;
  font-weight: 700;
}
.contents p {
  padding: 10px 0 20px;
}

.item {
  border-radius: 18px;
  border: 1px solid #DEDEDE;
}
.item img {
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
}
.item .carousel__about {
  padding: 24px 30px 40px 24px;
}
.item .carousel__about p {
  color: #22343D;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
.item .carousel__about p span {
  color: #22343D;
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
}
.item .carousel__about h3 {
  padding-top: 12px;
  color: #22343D;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}
@media (max-width: 730px) {
  .item .carousel__about h3 {
    font-size: 18px;
    line-height: 20px;
  }
}
.item #team-carousel .owl-dot span {
  width: 30px;
  height: 15px;
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */